/* ++++++++
   Timeliner
   Author: Eze
   website: http:talentedunicorn.com
   ++++++++*/

.header
	width: 100%
	background-color: $darkBlue
	color: $white
	+clearfix

.footer
	+container
	padding-top: 3rem
	padding-bottom: 3rem

.form
	padding: 5em 0

	.label
		display: inline-block
		width: 100%
		margin-bottom: to-em(20px)
		word-break: break-word

	.input
		display: block
		width: 80%
		margin-bottom: to-em(20px)
		margin-left: auto
		margin-right: auto
		padding: .8rem 1rem
		
		+media-query(wide)
			width: 60%

.btn 
	text-decoration: none
	border: 1px solid $grey
	padding: .5rem 1rem
	display: block
	margin: auto
	background: $white
	transition: all ease-in-out .5s

	&:hover
		background: $black
		color: $white

/* ==========================================================================
   Media Queries
   - small
   - medium
   - medium-only
   - wide
   - huge
   ========================================================================== */

