/* ++++++++
   Timeliner
   Author: Eze
   website: http:talentedunicorn.com
   ++++++++*/

.header
   width: 100%
   background-color: $darkBlue
   color: $white
   +clearfix

.footer
   +container
   padding-top: 3rem
   padding-bottom: 3rem



/* ==========================================================================
   Media Queries
   - small
   - medium
   - medium-only
   - wide
   - huge
   ========================================================================== */



